<div class="top-row">
  <h3>{{calendar.date | date:'MMMM yyyy'}}</h3>
  <div>
    <button (click)="getPrevious()">
      <span class="fa fa-chevron-left month-arrow" aria-hidden="true"></span>
    </button>
    <button (click)="getNext()">
      <span class="fa fa-chevron-right month-arrow" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div>
  <table>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
    <tr *ngFor="let week of calendar.weeks">
      <td *ngFor="let day of week.days">
        <span [class.overflow]="day.overflow" [class.today]="day.date.getTime() === today.getTime()">{{day.date | date:'d'}}</span>
      </td>
    </tr>
  </table>
</div>