div {
  color: red;
}

.dim-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.0;
  z-index: -999999;  
}

.modals-container.to-front {
  z-index: 999999;
  opacity: 1.0;
}

.modal-outer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50%;
  max-height: 50%;
  /* height: 100%; */
  /* background-color: rgba(var(--dark-rgb), .8);
  border: 1px solid var(--gray-gray-color); */
  border-radius: 4px;
  user-select: none;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  /* background-color: rgba(var(--dark-gray-rgb), .8); */
}

.modal-content {
  padding: 16px;
  /* border-top: 1px solid var(--gray-color); */
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  /* border-top: 1px solid var(--gray-color); */
}