<app-header></app-header>

<app-tabs>
  <app-tab tabTitle="Feed" tabIcon="fa-list-ul">
    <app-card></app-card>
    <app-modal show="true">
      hej
    </app-modal>
  </app-tab>
  <app-tab tabTitle="Search" tabIcon="fa-search">
    <app-search-bar></app-search-bar>
  </app-tab>
  <app-tab tabTitle="Add" tabIcon="fa-plus-square">
    <app-add></app-add>
  </app-tab>
  <app-tab tabTitle="Favorites" tabIcon="fa-star">
    <app-favorites></app-favorites>
  </app-tab>
  <app-tab tabTitle="Settings" tabIcon="fa-cog">
    <app-settings></app-settings>
  </app-tab>
</app-tabs>

<app-modal-container></app-modal-container>